# LAB06: Know Your Data

## Download Dataset

**1. Download dataset from dropbox**

In [ ]:
!wget https://www.dropbox.com/s/zc3tdpb7tjj4nt1/dataset-bikesharing.csv

--2020-11-03 12:47:27--  https://www.dropbox.com/s/zc3tdpb7tjj4nt1/dataset-bikesharing.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/zc3tdpb7tjj4nt1/dataset-bikesharing.csv [following]
--2020-11-03 12:47:27--  https://www.dropbox.com/s/raw/zc3tdpb7tjj4nt1/dataset-bikesharing.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4b5f3c02ecbf620e75e9c35eea.dl.dropboxusercontent.com/cd/0/inline/BCdHRlXimCAuGu1WBg-W-Mv-FJCn99t0zp4iG4aEW-cLnzHu7lABRzzVOH_KRs083eTJz33LC7m1G_oD1E_ZEWC4igINjdyK0cMTV91qYgQ_LEaQFYqO6YDIhCoaUzKq8sM/file# [following]
--2020-11-03 12:47:27--  https://uc4b5f3c02ecbf620e75e9c35eea.dl.dropboxusercontent.com/cd/0/inline/BCdHRlXimCAuGu1WBg-W-Mv-FJCn99t0zp4iG4aEW-cLnzHu7lABRzzVOH_KRs083eTJz33LC7m1G_oD1E_ZEWC4igINjdyK0cMTV91qYgQ_LEaQFYqO6YDIhCoaUzKq8sM/file
Resolving uc4b5f3c02ecbf620e75e9c35eea.dl.dropboxusercontent.com (uc4b5f3c02ecbf620e75e9c35eea.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc4b5f3c02ecbf620e75e9c35eea.dl.dropboxusercontent.com (uc4b5f3c02ecbf620e75e9c35eea.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1156736 (1.1M) [text/plain]
Saving to: ‘dataset-bikesharing.csv’

dataset-bikesharing 100%[===================>]   1.10M  --.-KB/s    in 0.1s

2020-11-03 12:47:28 (9.54 MB/s) - ‘dataset-bikesharing.csv’ saved [1156736/1156736]

**2. Verify downloaded dataset**

In [ ]:
!ls

dataset-bikesharing.csv  sample_data

**3. Count Number of Line**

In [ ]:
!wc -l dataset-bikesharing.csv

17380 dataset-bikesharing.csv

**4. View Sample of Data**

In [ ]:
!head dataset-bikesharing.csv

instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0,8,32,40
3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0,5,27,32
4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0,3,10,13
5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0,0,1,1
6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.8,0,2,0,2
8,2011-01-01,1,0,1,7,0,6,0,1,0.2,0.2576,0.86,0,1,2,3
9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0,1,7,8

## PySpark Preparation

**1. Install PySpark**

In [ ]:
%pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 67kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 41.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=966d21445d34675a28cb96d86ec35beeb484b138eae1fbe2c13c6cc4295ff42a
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

**2. Create Spark Session**

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Labs07B').getOrCreate()

In [ ]:
print("Spark version : " + spark.version)

Spark version : 3.0.1

In [ ]:
import sys
print("Python version : " + sys.version)

Python version : 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

## Read Dataset

**1. Load dataset to dataframe**

In [ ]:
file_path = "dataset-bikesharing.csv"

df_bikesharing = spark.read.csv(path=file_path, header = True, inferSchema = True)
df_bikesharing.show(5)

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 5 rows

**2. View data structure**

In [ ]:
df_bikesharing.printSchema()

root
 |-- instant: integer (nullable = true)
 |-- dteday: string (nullable = true)
 |-- season: integer (nullable = true)
 |-- yr: integer (nullable = true)
 |-- mnth: integer (nullable = true)
 |-- hr: integer (nullable = true)
 |-- holiday: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- workingday: integer (nullable = true)
 |-- weathersit: integer (nullable = true)
 |-- temp: double (nullable = true)
 |-- atemp: double (nullable = true)
 |-- hum: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- casual: integer (nullable = true)
 |-- registered: integer (nullable = true)
 |-- cnt: integer (nullable = true)

*   instant: Record index
*   dteday: Date
*   season: Season (1:springer, 2:summer, 3:fall, 4:winter)
*   yr: Year (0: 2011, 1:2012)
*   mnth: Month (1 to 12)
*   hr: Hour (0 to 23)
*   holiday: weather day is holiday or not (extracted from Holiday Schedule)
*   weekday: Day of the week
*   workingday: If day is neither weekend nor holiday is 1, otherwise is 0.
*   weathersit
*   temp: Normalized temperature in Celsius. The values are derived via (t-tmin)/(tmax-tmin), tmin=-8, t_max=+39 (only in hourly scale)
*   atemp: Normalized feeling temperature in Celsius. The values are derived via (t-tmin)/(tmax-tmin), tmin=-16, t_max=+50 (only in hourly scale)
*   hum: Normalized humidity. The values are divided to 100 (max)
*   windspeed: Normalized wind speed. The values are divided to 67 (max)
*   casual: count of casual users
*   registered: count of registered users
*   cnt: count of total rental bikes including both casual and registered

**2. Count number of record**

In [ ]:
print ('Number of records: %d ' % df_bikesharing.count())

Number of records: 17379

## Know Your Data

**1. Create table from dataframe**

In [ ]:
df_bikesharing.createOrReplaceTempView("bikesharing")

**2. View sample record**

In [ ]:
spark.sql("\
SELECT * \
FROM bikesharing \
").show(5)

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 5 rows

**3. Calculate number of transaction and number of records**

In [ ]:
spark.sql("\
SELECT sum(cnt) total_trx, \
count(*) num_record \
FROM bikesharing \
").show()

+---------+----------+
|total_trx|num_record|
+---------+----------+
|  3292679|     17379|
+---------+----------+

**4. Check season column**

In [ ]:
spark.sql("\
SELECT season, \
count(*) num_record \
FROM bikesharing \
GROUP BY season \
ORDER BY season ASC \
").show()

+------+----------+
|season|num_record|
+------+----------+
|     1|      4242|
|     2|      4409|
|     3|      4496|
|     4|      4232|
+------+----------+

**5. Check column yr**

In [ ]:
spark.sql("\
SELECT yr, \
count(*) num_record \
FROM bikesharing \
GROUP BY yr \
ORDER BY yr ASC \
").show()

+---+----------+
| yr|num_record|
+---+----------+
|  0|      8645|
|  1|      8734|
+---+----------+

**6. Get maximum and minimum value mnth**

In [ ]:
spark.sql("\
SELECT min(mnth) min_month, \
max(mnth) max_month \
FROM bikesharing \
").show()

+---------+---------+
|min_month|max_month|
+---------+---------+
|        1|       12|
+---------+---------+

**7. Check weathersit column**

In [ ]:
spark.sql("\
SELECT weathersit, \
count(*) num_record \
FROM bikesharing \
GROUP BY weathersit \
ORDER BY weathersit\
").show()

+----------+----------+
|weathersit|num_record|
+----------+----------+
|         1|     11413|
|         2|      4544|
|         3|      1419|
|         4|         3|
+----------+----------+

**8. Check duplicate record**

In [ ]:
spark.sql("\
SELECT * \
FROM bikesharing \
").show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
spark.sql("\
SELECT concat(dteday, '-', hr) hour_id, \
count(*) num_record \
FROM bikesharing \
GROUP BY hour_id \
HAVING num_record > 1 \
").show()

+-------+----------+
|hour_id|num_record|
+-------+----------+
+-------+----------+